.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    box-shadow: 0.1px 0.1px 0.1px 0.1px black;
    margin: auto;
    border-radius: 5px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;

    .playerImg {
        height: 100px;
        width: 100px;
    }

}