.depthChartPlayer {
    display: flex;
    background-color: white;
    border: 1px solid grey;
    margin: 0 auto;
  }

  .depthChartPlayer:hover {
    transform: scale(1.05);
  }

.playerRow {
  display: flex;
  justify-content: space-evenly;
}

.playerOverall {
  border: 1px solid limegreen;
  background-color: lightgreen;
}

.playerPotential {
  border: 1px solid skyblue;
  background-color: lightskyblue;
}