body { font-family: sans-serif; padding: 1em; }
.ais-SearchBox { margin: 1em 0; }

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');
body{
  background-color: white;

}

.App {
  font-family: 'Rubik', sans-serif;
  width: 600px;
  margin: auto;
  text-align: left;
  background-color: white ;
}




a {
  text-decoration:none !important;
  background-color: white;
  color: #5C79FD;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  font-weight: 500;

}

a:hover{
  background-color: #5C79FD;
  color: white;
}

.Name{
  font-family: 'Rubik', sans-serif;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
}



.Intro{
  margin-top: 5px;
  border-left: solid 3px#5C79FD;
  padding-left: 10px;
  line-height: 25px;
  letter-spacing: 0px
}

.Intro h4{
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  color: #71808F;
}




h3{
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  padding-left: 10px;

}

.stackIcon{
  display: inline;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;

}

.keyboardIcon{

  display: inline;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;

}

.bcaseIcon{
  display: inline;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;

}

Table{
  margin-bottom: 5px;
}

.article p{
  margin: 0px;
  color: #71808F;
  margin-bottom: 10px;
}

.article{
  margin-bottom: 40px;
  font-size: 16px;
  border-left: solid 3px#5C79FD;
  padding-left: 10px;
  width: 80%;
}


.article a{
  background-color: #2ecc71;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
  -webkit-box-shadow: 2.5px 5px 10px 0px rgba(46,204,113,.4);
  box-shadow: 2.5px 5px 10px 0px rgba(46,204,113,.4);
}



@-webkit-keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-7px);
		        transform: translatey(-7px);
	}
	100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
}



@keyframes float {
	0% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-7px);
		        transform: translatey(-7px);
	}
	100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
	}
}


@media screen and (max-width: 650px) {
  .App{
    width: 90%;
  }

  .Intro h4{
    font-size: 17px;
    line-height: 22px;
  }

}

@media screen and (max-width: 500px) {
  .article{
    width: 90%;
  }
}



// WEBPACK FOOTER //
// ./src/App.css
